@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors*/

  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral Colors */

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-para: 'Montserrat', sans-serif;
  --font-hdg: 'Fraunces', serif;
}

html {
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
  background-color: var(--cream);
  font-family: var(--font-para);
}

.product-preview-container {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 50px rgba(106, 106, 106, 0.15);
}

.image-preview {
  flex-basis: 50%;
  overflow: hidden;
}

.image-desktop {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-mobile {
  display: none;
}

.product-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  padding: 35px 32px 32px;
  background-color: var(--white);
}

.product-preview span {
  color: var(--dark-grayish-blue);
  font-size: 0.87rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product-preview h1 {
  color: var(--very-dark-blue);
  font-family: var(--font-hdg);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1;
}

.product-preview p {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

.price-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.price-new {
  color: var(--dark-cyan);
  font-family: var(--font-hdg);
  font-size: 2.3rem;
  font-weight: 700;
  margin-right: 20px;
}

.price-old {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  text-decoration: line-through;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)) top/100% 800%;
  background-color: var(--dark-cyan);
  padding: 15px 62px;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.icon {
  width: 16px;
  height: 15px;
  margin-right: 10px;
}

.btn:hover {
  background-position: bottom;
}

@media (max-width: 550px) {
  main {
    padding: 15px;
  }

  .product-preview-container {
    flex-direction: column;
    max-width: 343px;
    height: 616px;
  }

  .image-preview {
    min-height: 240px;
  }

  .image-desktop {
    display: none;
  }

  .image-mobile {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .product-preview {
    padding: 24px;
  }

  .product-preview h1 {
    font-size: 2.4rem;
    margin: 15px 0 15px;
  }

  .product-preview p {
    margin-bottom: 20px;
  }

  .price-box {
    margin-bottom: 20px;
  }
}

footer {
  padding: 5px 0;
  color: var(--very-dark-blue);
  text-align: center;
  font-family: var(--font-para);
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
  color: var(--dark-cyan);
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}
